---
import Layout from '../layouts/Layout.astro';
import InfoCards from '../components/infoCards';
import '../../assets/scss/corporate-ui-dashboard.scss';
import Navbar from '../components/navbar';
import Transactions from '../components/transactions';
import CardProduct from '../components/products/cardProduct';
import CardCategory from '../components/products/cardCategory';
import ProductOverview from '../components/products/productOverview';
import ProductOverviews from '../components/products/productOverviews';
import ShoppingCart from '../components/cart/shoppingCart';
import ShoppingCart2 from '../components/cart/shoppingCart2';


const data = {
  products: [
    {
      thumb_src: "https://images.unsplash.com/photo-1605236453806-6ff36851218e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      thumb_alt: "watch-image",
      images: [
        'https://images.unsplash.com/photo-1611930021592-a8cfd5319ceb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80',
        'https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80',
        'https://images.unsplash.com/photo-1513116476489-7635e79feb27?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80',
        'https://images.unsplash.com/photo-1611930022073-b7a4ba5fcccd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80'
      ],
      color: "8 colors",
      colors: [
        'red', 
        'blue', 
        'green'
      ],
      title: "Apple Watch",
      price: "$399.99",
      description: "That’s the main thing people are controlled by! Thoughts- their perception of themselves!",
      full_description: "The Basic Tee 6-Pack allows you to fully express your vibrant personality with three grayscale options. Feeling adventurous? Put on a heather gray tee. Want to be a trendsetter? Try our exclusive colorway: `Black`. Need to add an extra pop of color to your outfit? Our white tee has you covered.",
      details: "The 6-Pack includes two black, two white, and two heather gray Basic Tees. Sign up for our subscription service and be the first to get new, exciting colors, like our upcoming `Charcoal Gray` limited release.",
      highlights: [
        "Hand cut and sewn locally",
        "Dyed with our proprietary colors",
        "Pre-washed & pre-shrunk",
        "Ultra-soft 100% cotton",
      ],
      rating: 4,
      reviews: 117,
      size: "Small",
      sizes: {
        'XXS': 3,
        'XS': 3,
        'S': 0,
        'M': 1,
        'L': 1213,
        'XL': 6,
        '2XL': 2,
        '3XL': 0
      },
      stock: "In Stock",
      subtotal: 129,
      shipping: 5,
      tax: 8
    },
    {
      thumb_src: "https://images.unsplash.com/photo-1546868871-7041f2a55e12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      thumb_alt: "pen-image",
      images: [
        'https://images.unsplash.com/photo-1511499767150-a48a237f0083?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80',
        'https://images.unsplash.com/photo-1572635196237-14b3f281503f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80',
        'https://images.unsplash.com/photo-1508296695146-257a814070b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80',
        'https://images.unsplash.com/photo-1522125123931-9304d91a42ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80'
      ],
      color: "Black",
      colors: ['black', 'green'],
      title: "Basic Starter Pack",
      price: "$199.99",
      rating: 5,
      reviews: 117,
      description: "That’s the main thing people are controlled by! Thoughts- their perception of themselves!",
      full_description: "The 6-Pack includes two black, two white, and two heather gray Basic Tees. Sign up for our subscription service and be the first to get new, exciting colors, like our upcoming `Charcoal Gray` limited release.",
      features: [
        "Multiple strap configuration",
        "Water Resistant",
        "Stainless strap loops",
        "Ultra-soft 100% cotton",
      ],
      data: {
        'Features': "The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you.",
        'Care': "It really matters and then like it really doesn`t matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn`t matter. Because it's about motivating the doers. Because I`m here to follow my dreams and inspire other people to follow their dreams, too.",
        'Shipping': "The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it?",
        'Returns': "I always felt like I could do anything. That`s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can`t do anything, you won`t do anything. I was taught I could do everything."
      },
      subtotal: 99,
      shipping: 5,
      tax: 7
    },
    {
      thumb_src: "https://images.unsplash.com/photo-1494173853739-c21f58b16055?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      thumb_alt: "mac-image",
      color: "Yellow",
      colors: [],
      title: "iMac",
      price: "$1399.99"
    },
    {
      thumb_src: "https://images.unsplash.com/photo-1505156868547-9b49f4df4e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      thumb_alt: "mac-mec",
      color: "Blue",
      title: "iPhone",
      description: "That’s the main thing people are controlled by! Thoughts- their perception of themselves!",
      price: "$1599.99"
    }
  ],
  categories: [
    {
      thumb_src: "https://images.unsplash.com/photo-1491933382434-500287f9b54b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Electronics"
    },
    {
      thumb_src: "https://images.unsplash.com/photo-1541643600914-78b084683601?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "New Arivals"
    },
    {
      thumb_src: "https://images.unsplash.com/photo-1504274066651-8d31a536b11a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Accessories"
    },
    {
      thumb_src: "https://images.unsplash.com/photo-1556217256-f4e659e15103?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Sale"
    },
  ]
};


---


<Layout title="Welcome to Astro.">
	<main>
    <div class="pt-0 pb-7 bg-cover"
      style={{
        backgroundImage: 'url("/header-blue-purple.jpg")',
      }}
    >
      <Navbar />
    </div>
    <div class="container py-4 px-5">
      <InfoCards />

      <div class="row">
        {data.products.map(product => 
          <div class="col-md-3">
            <CardProduct 
              thumb_src = {product.thumb_src}
              thumb_alt = {product.thumb_alt}
              color = {product.color}
              colors = {product.colors}
              title = {product.title}
              description = {product.description}
              price = {product.price}
              position = "center"
            />
          </div>
        )}        
      </div>

      <div class="row">
        {data.products.map(product => 
          <div class="col-md-3">
            <CardProduct 
              thumb_src = {product.thumb_src}
              thumb_alt = {product.thumb_alt}
              color = {product.color}
              colors = {product.colors}
              title = {product.title}
              description = {product.description}
              price = {product.price}
              position = "left"
            />
          </div>
        )}        
      </div>

      <div class="row mb-5">
        {data.categories.map(category => 
          <div class="col-md-3">
            <CardCategory
              thumb_src = {category.thumb_src}
              title = {category.title}
            />
          </div>
        )}
      </div>

      <div class="row mb-5">
        <div class="col-md-6">
          <CardCategory
            classList = "h-100"
            cta = ""
            thumb_src = {data.categories[0].thumb_src}
            title = {data.categories[0].title}
          />
        </div>
        <div class="col-md-6">
          <div class="mb-4">
            <CardCategory
              classList = ""
              cta = ""
              thumb_src = {data.categories[1].thumb_src}
              title = {data.categories[1].title}
            />
          </div>
          <div class="">
            <CardCategory
              classList = ""
              cta = ""
              thumb_src = {data.categories[2].thumb_src}
              title = {data.categories[2].title}
            />
          </div>
        </div>
      </div>


      <div class="my-10">
        <ProductOverview  
          colors={data.products[0].colors}
          images={data.products[0].images}
          title={data.products[0].title}
          title={data.products[0].title}
          full_description={data.products[0].full_description}
          price={data.products[0].price}
          highlights={data.products[0].highlights}
          details={data.products[0].details}
          rating={data.products[0].rating}
          reviews={data.products[0].reviews}
          sizes={data.products[0].sizes}
        />
      </div>

      <div class="my-5">
        <ProductOverviews 
          colors={data.products[1].colors} 
          images={data.products[1].images}
          title={data.products[1].title}
          full_description={data.products[1].full_description}
          price={data.products[1].price}
          rating={data.products[1].rating}
          reviews={data.products[1].reviews}
          data={data.products[1].data}
        />
      </div>


      <div class="my-10">
        <ShoppingCart 
          thumb_src = {data.products[0].thumb_src}
          title={data.products[0].title}
          color={data.products[0].color}
          size={data.products[0].size}
          price={data.products[0].price}
          stock={data.products[0].stock}
          subtotal={data.products[0].subtotal}
          shipping={data.products[0].shipping}
          tax={data.products[0].tax}
        />
      </div>

      <div class="my-10">
        <ShoppingCart2
          thumb_src = {data.products[1].thumb_src}
          title={data.products[1].title}
          color={data.products[1].color}
          size={data.products[1].size}
          price={data.products[1].price}
          stock={data.products[1].stock}
          subtotal={data.products[1].subtotal}
          shipping={data.products[1].shipping}
          tax={data.products[1].tax}
        />
      </div>

      <Transactions />

      
    </div>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		/* padding: 1.5rem; */
		max-width: 100%;
    
	}
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
