---
import Layout from '../layouts/Layout.astro';
import InfoCards from '../components/infoCards';
import '../../assets/scss/corporate-ui-dashboard.scss';
import Navbar from '../components/navbar';
import Transactions from '../components/transactions';
import CardProduct from '../components/products/cardProduct';
import CardCategory from '../components/products/cardCategory';
import CardCategoryFull from '../components/products/cardCategoryFull';
import ProductOverview from '../components/products/productOverview';

const data = {
  products: [
    {
      img_src: "https://images.unsplash.com/photo-1605236453806-6ff36851218e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      img_alt: "watch-image",
      color: "Black",
      colors: ['red', 'blue', 'green'],
      title: "Apple Watch",
      price: "$399.99"
    },
    {
      img_src: "https://images.unsplash.com/photo-1546868871-7041f2a55e12?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      img_alt: "pen-image",
      color: "Black",
      colors: ['black', 'green'],
      title: "Apple Pen",
      price: "$199.99"
    },
    {
      img_src: "https://images.unsplash.com/photo-1494173853739-c21f58b16055?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      img_alt: "mac-image",
      color: "Yellow",
      colors: ['black', 'yellow', 'red'],
      title: "iMac",
      price: "$1399.99"
    },
    {
      img_src: "https://images.unsplash.com/photo-1505156868547-9b49f4df4e04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      img_alt: "mac-mec",
      color: "Blue",
      colors: ['blue', 'purple', 'white'],
      title: "iPhone",
      price: "$1599.99"
    }
  ],
  categories: [
    {
      img_src: "https://images.unsplash.com/photo-1491933382434-500287f9b54b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Electronics",
    },
    {
      img_src: "https://images.unsplash.com/photo-1541643600914-78b084683601?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "New Arivals",
    },
    {
      img_src: "https://images.unsplash.com/photo-1504274066651-8d31a536b11a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Accessories",
    },
    {
      img_src: "https://images.unsplash.com/photo-1556217256-f4e659e15103?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Sale",
    },
  ],
  categoriesFull: [
    {
      img_src: "https://images.unsplash.com/photo-1617814076367-b759c7d7e738?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80",
      title: "Cars",
    },
    {
      img_src: "https://images.unsplash.com/photo-1541643600914-78b084683601?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "New Arivals",
    },
    {
      img_src: "https://images.unsplash.com/photo-1504274066651-8d31a536b11a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Accessories",
    },
    {
      img_src: "https://images.unsplash.com/photo-1556217256-f4e659e15103?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80",
      title: "Sale",
    }
  ]
};


---


<Layout title="Welcome to Astro.">
	<main>
    <div class="pt-0 pb-7 bg-cover"
      style={{
        backgroundImage: 'url("/header-blue-purple.jpg")',
      }}
    >
      <Navbar />
    </div>
    <div class="container py-4 px-5">
      <InfoCards />

      <div class="row">
        {data.products.map(product => 
          <div class="col-md-3">
            <CardProduct 
              img_src = {product.img_src}
              img_alt = {product.img_alt}
              color = {product.color}
              colors = {product.colors}
              title = {product.title}
              price = {product.price}
              position = "center"
            />
          </div>
        )}        
      </div>

      <div class="row">
        {data.products.map(product => 
          <div class="col-md-3">
            <CardProduct 
              img_src = {product.img_src}
              img_alt = {product.img_alt}
              color = {product.color}
              colors = {product.colors}
              title = {product.title}
              price = {product.price}
              position = "left"
            />
          </div>
        )}        
      </div>

      <div class="row mb-5">
        {data.categories.map(category => 
          <div class="col-md-3">
            <CardCategory
              img_src = {category.img_src}
              title = {category.title}
            />
          </div>
        )}
      </div>

      <div class="row mb-5">
        <div class="col-md-6">
          <CardCategoryFull
            classList = 'h-100'
            img_src = {data.categoriesFull[0].img_src}
            title = {data.categoriesFull[0].title}
          />
        </div>
        <div class="col-md-6">
          <div>
            <CardCategoryFull
              classList = ''
              img_src = {data.categoriesFull[1].img_src}
              title = {data.categoriesFull[1].title}
            />
          </div>
          <div class="mt-4">
            <CardCategoryFull
              classList = ''
              img_src = {data.categoriesFull[2].img_src}
              title = {data.categoriesFull[2].title}
            />
          </div>
        </div>
      </div>


      <div class="my-5">
        <ProductOverview />
      </div>

      <Transactions />

      
    </div>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		/* padding: 1.5rem; */
		max-width: 100%;
    
	}
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
